html, body {
  padding: 0px;
  margin: 0px; }

body {
  background: url("img/stardust.png"); }

div.container {
  width: 1000px;
  height: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
  -webkit-transition: background-image 5s;
  /* For Safari 3.1 to 6.0 */
  transition: background-image 5s; }
  div.container.day {
    background-image: url("img/background/gradient-1.png");
    background-position: center;
    background-repeat: repeat-x; }
  div.container.afternoon {
    background-image: url("img/background/gradient-2.png");
    background-position: center;
    background-repeat: repeat-x; }
  div.container.night {
    background-image: url("img/background/gradient-3.png");
    background-position: center;
    background-repeat: repeat-x; }
  div.container img {
    position: absolute;
    left: 0px; }
  div.container .background-1 {
    z-index: 3;
    bottom: 0px; }
  div.container .background-2 {
    z-index: 2;
    top: 0px; }
  div.container .background-3 {
    top: 200px;
    left: -340px; }
  div.container canvas#glider_canvas {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
  div.container div.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 60px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10; }
    div.container div.overlay a.btn {
      display: block;
      width: 50%;
      margin: 20px auto;
      height: 100px;
      background: white;
      border: solid 3px #DDD;
      border-radius: 3px;
      font-size: 42px;
      text-align: center;
      padding: 25px 0px;
      text-decoration: none;
      color: black; }
      div.container div.overlay a.btn:hover {
        border-color: black; }

.distance {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #DDD;
  font-size: 40px; }

.myButton {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color: #599bb3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  z-index: 100; }
  .myButton span.description {
    font-size: 14px;
    font-weight: normal; }

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color: #408c99; }

.myButton:active {
  position: relative;
  top: 1px; }
